p,h1,h2,h3,h4,h5,h6,a {
    font-family: 'Pixelify Sans', cursive;
}

p,a {
    color: #fffae0;
}

ul {
    list-style-type: none;
}

a {
    color: #fffae0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.bg-hero {
    --bg-hero-opacity: 0.35;
    background-image: url(hero-background.png);

    background-size:  cover;
    background-position: center;

    display: block;
    text-align: center;
    height: 900px;
    max-height: 100%;
    min-width: 100%;

    position: relative;
    isolation: isolate;
}

.bg-hero::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #5b2599;
    opacity: var(--bg-hero-opacity);
}

  
.bg-image {
    --bg-image-opacity: 0.25;
    background-image: url(actual-background.png);

    background-size:  cover;
    background-position: center;

    display: block;
    place-content: center;
    text-align: center;
    min-height: 100%;
    min-width: 100%;

    position: relative;
    isolation: isolate;
}

.bg-image::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: #050307;
    opacity: var(--bg-image-opacity);
}

header {
    /*background-color: #c2a2ad; */
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.bg-hero .content
{
    display: block;
    text-align: left;
    align-content: start;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    padding-inline-start: 40px;
    padding-inline-end: 40px;
}

.bg-hero .content .content-header
{
    display: grid;
    max-height: 325px;
}

.bg-hero .content .content-header h1
{
    text-align: center;
    width: 100%;
    color: #fffae0;
    font-size: 8rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bg-hero .content .content-header h3
{
    text-align: center;
    width: 100%;
    color: #fffae0;
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.bg-hero .content .page-navigation
{
    display: block;
}

.bg-hero .content .page-navigation nav .navgation-elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.bg-hero .content .page-navigation nav .navgation-elements .text{
    font-size: 1.5rem;
}

.bg-hero .content .page-navigation nav .navgation-elements .image{
    width: 2rem;
    height: 2rem;
}

.bg-hero .content .page-navigation nav .navgation-elements img{
    width: 2rem;
    height: 2rem;
}

article
{
    min-width: 100%;
}

.projects
{
    display: grid;
    align-content: center;
    margin-top: 0;
}

.projects ul 
{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: #150462bd;
}

.projects .project-header h2 {
    color: #fffae0;
    font-size: 5rem;
}

.projects .project-header {
    text-align: center;
}

.projects .project-resources .project-photos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    column-gap: 2em;
}

.projects .project-resources .project-photos .image {
    display: flex;
    justify-content: center;
}

.projects .project-resources .project-photos .image img {
    max-width: 80%;
    height: auto;
    align-self: center;
}

.projects .project-resources .description{
    color: #fffae0;
    font-size: large;
    text-align: center;
    align-content: center;
}

@media (width < 799px)
{
    
    .bg-hero 
    {
        height: 400px;
    }

    .bg-hero .content
    {
        align-content: center;
        
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    .bg-hero .content .content-header h1
    {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }

    .bg-hero .content .content-header h3
    {
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

    .bg-hero .content .page-navigation nav .navgation-elements 
    {
        justify-content: center;
        column-gap: 10px;
    }

    
    .bg-hero .content .page-navigation nav .navgation-elements .image img
    {
        width: 1rem;
        height: 1rem;
    }

    .bg-hero .content .page-navigation nav .navgation-elements .text
    {
        text-align: center;
        font-size: 1rem;
    }
    
    .projects .project-header h2{
        font-size: 3rem;
    }

    .projects .project-resources .description{
        font-size: x-large;
    }
}

@media (width >= 800px)
{
    .projects ul li
    {
        max-width: 500px;
    }
}